
<div class="container-fluid">
    <h3>Hi <%= @user.name %> !</h3>

<div class="list-group">
  <a class="list-group-item list-group-item-action active">
    User Event
  </a>
  <% @events_user.each do |event| %>
    <%= link_to event.titre, event, class: "list-group-item list-group-item-action" %>
  <% end %>
</div>

<div class="list-group">
  <a class="list-group-item list-group-item-action active">
    Previous Events
  </a>
  <% @prev_events.each do |event| %>
     <%= link_to event.titre, event, class: "list-group-item list-group-item-action" %>
  <% end %>
</div>

<div class="list-group">
  <a class="list-group-item list-group-item-action active">
    upcoming Events
  </a>
  <% @upcoming_events.each do |event| %>
    <%= link_to event.titre, event, class: "list-group-item list-group-item-action" %>
  <% end %>
</div>


</div>
