<div class="container-fluid">
  <div class="list-group">
    <a class="list-group-item list-group-item-action active">
      Upcoming Events
    </a>
    <%= render partial: "upcoming_event", collection: @upcoming %>
  </div>

  <div class="list-group">
    <a class="list-group-item list-group-item-action active">
      Past Events
    </a>
    <%= render partial: "past_event", collection: @past_events %>
  </div>
</div>
