
<h3>Past Events</h3>
<% @past_events.each do |event| %>
<p><%= link_to event.titre, event %></p>
<%  end  %>

<h3>coming Events</h3>
<% @coming_events.each do |event| %>
<p><%= link_to event.titre, event %></p>
<%  end  %>
