

<div class="container-fluid">
  <div class="list-group">
    <a class="list-group-item list-group-item-action active">
      Upcoming Events
    </a>
    <% @upcoming.each do |event| %>
      <%= link_to event.titre, event, class: "list-group-item list-group-item-action" %>
    <% end %>
  </div>

  <div class="list-group">
    <a class="list-group-item list-group-item-action active">
      Past Events
    </a>
    <% @past_events.each do |event| %>
       <%= link_to event.titre, event, class: "list-group-item list-group-item-action" %>
    <% end %>
  </div>
</div>
